[defaults]
host_key_checking = False
roles_path = ./roles
inventory = ./inventory/hosts
private_key_file = /root/.ssh/timeweb


[ssh_connection]
control_path = ~/.ssh/ansible-%%r@%%h:%%p
pipelining = True
ssh_args = -o StrictHostKeyChecking=no

